.chat-window {
    position: absolute;
    right: 0%;
    width: 30%;
}

.text-form {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 30%;
}

.message {
    background-color: black;
}

.backgroundBlack {
    background-color: black;
}

.home {
    display: flex;
    flex-direction: row;
}

.chat {
    position: fixed;
    right: 0%;
    top: 0%;
}

.white {
    width: 30%;
}