/* .chat-window {
    position: absolute;
    right: 0%;
    width: 30%;
}

.text-form {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 30%;
} */

/* 
.home {
    display: flex;
    flex-direction: row;
} */

/* .chat {
    position: fixed;
    right: 0%;
    top: 0%;
} */

.chat {
    height: 100vh;
}

.scroll {
    height: 75vh;
    overflow-y: scroll;
}

textarea:focus,
input:focus,
input::selection {
    outline: none;
}


*:focus {
    outline: none;
}