.colors {
    position: absolute;
    color: white;
    width: 60%;
}

.color-pallete{
    width: 27%;
  /*  border-radius: 0px 5px 5px 0px;*/
    margin-left: -45px;
    padding-left: 50px;
    background: white;
}

.color-bar{
    background: #611f69;
}

.color {
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    box-shadow: 1px 1px 5px;

}

.color:hover{
    transform: scale(1.25);
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: #f44336;
}

.color.green {
    background-color: #36c185;
}

.color.blue {
    background-color: #2196f3;
}

.color.yellow {
    background-color: #ffc400;
}

.color.cyan {
    background-color: #00bcd4;
}