.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: none;
    margin-left: 6px;

}

.color.black {
    background-color: black;
}

.color.red {
    background-color: #f44336;
}

.color.green {
    background-color: #36c185;
}

.color.blue {
    background-color: #2196f3;
}

.color.yellow {
    background-color: #ffc400;
}

.color .cyan {
    background-color: #00bcd4;
}