html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

.join-form {
    width: 400px;
    margin: 250px auto;
    background-color: #c8cacc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}